@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1683433598473') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 64px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: pointer;
}

.icon-dianhuatianchong:before {
  content: "\e678";
}

.icon-git:before {
  content: "\e708";
}

.icon-zuobiaofill:before {
  content: "\e768";
}

.icon-QQ:before {
  content: "\e73e";
}

.icon-youxiang:before {
  content: "\e672";
}

.icon-Vue:before {
  content: "\e799";
}

.icon-xueli:before {
  content: "\e611";
}

.icon-nianling:before {
  content: "\e69d";
}

.icon-css:before {
  content: "\e61e";
}

.icon-html:before {
  content: "\e632";
}

.icon-js:before {
  content: "\e63b";
}

.icon-vscode:before {
  content: "\e6b8";
}

.icon-vuex-store:before {
  content: "\e6bb";
}

.icon-eslint:before {
  content: "\eb8a";
}

.icon-weixin:before {
  content: "\e607";
}

.icon-elemo:before {
  content: "\fee2";
}

